Package: com.mortyick.searxng
Name: Safari SearXNG
Description: A fork of iCraze's Startpage tweak, but its the version that uses SearXNG instead of Startpage.
Maintainer: Mortyick
Author: Mortyick, iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64
Version: 1.0
